
    <!-- CONTENT =============================-->
    <section class="item content">
        <div class="container toparea">
            <div class="underlined-title">
                <div class="editContent">
                    <h1 class="text-center latestitems">CÓ THỂ BẠN CHƯA BIẾT</h1>
                </div>
                <div class="wow-hr type_short">
                    <span class="wow-hr-h">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    </span>
                </div>
            </div>
        <div class="text-center"> 
            <iframe width="960" height="450" src="https://www.youtube.com/embed/NycFtPQdhs4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <h2>Điện thoại Samsung Galaxy A72 - Thiết kế ấn tượng, hiệu năng mạnh mẽ </h2> <br/>
         <p>Vừa mới đây Samsung vừa cho ra mắt chiếc smartphone Samsung Galaxy A72 thuộc dòng A của hãng. Có thể nói đây là con át chủ bài của thương hiệu này trong năm 2020 bởi những nâng cấp vượt trội từ thiết kế cho đến camera lẫn hiệu năng. Nếu bạn đang tìm kiếm cho mình một chiếc điện thoại Samsung mới thì có thể đây là sự lựa chọn phù hợp dành cho bạn.</p>
         <h2>Màn hình AMOLED 6.7 inch Full HD+ sắc nét</h2> <br/>
         <p>Samsung A72 sở hữu thiết kế có nhiều nét tương đồng với những người đàn anh trước đó của mình. Máy được hoàn thiện với bộ khung kim loại cứng cáp và vô cùng bền bỉ, xung quanh được bao phủ bằng lớp nhựa bóng bẩy nổi bật.

            A72 có kích thước vô cùng nhỏ gọn, các cạnh viền được thiết kế bo cong từ đó giúp cho máy có một diện mạo cực kì hiện đại, đẹp mắt và thời thượng hơn rất nhiều. Cảm biến vân tay được dời lên màn hình từ đem đến một diện mạo hoàn hảo không chê vào đâu được</p>
            <div class="text-center">  
          <img src="https://cdn.cellphones.com.vn/media/wysiwyg/mobile/samsung/samsung-galaxy-a72-1.jpg"  width="90%" height="300px"> 
          <div class="editContent">
            <h1 class="text-center latestitems">Tin Tức HoT Trend</h1>
        </div>
        <iframe width="960" height="450" src="https://www.youtube.com/embed/VqXdhOykGho" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <h2>CEO Nguyễn Phương Hằng và những câu nói THÂM THÚY trong Livestream ngày 25/05 | ĐỪNG IM LẶNG NỮA</h2> <br/>
        <p>Trong khi cộng đồng mạng Việt Nam đổ xô ‘hóng drama’ showbiz, buổi livestream của bà Nguyễn Phương Hằng, vợ ông chủ Đại Nam Huỳnh Uy Dũng (ông Dũng ‘lò vôi’), đã xô đổ mọi kỷ lục của những streamer nổi tiếng nhất trong nước với hàng trăm ngàn lượt view cùng lượng thảo luận, bình luận, share cực lớn.

            Sau màn ‘bốc phốt’ nghệ sĩ Hoài Linh chưa chuyển hơn 13 tỷ đồng tiền từ thiện, buổi livestream của nữ doanh nhân người Canada gốc Việt Nguyễn Phương Hằng tiếp tục đề cập đến tên tuổi một số nghệ sĩ nổi tiếng khác trong làng giải trí Việt Nam như NSND Hồng Vân, ca sĩ Vy Oanh, MC Quyền Linh..
            
            Trong một diễn biến nóng khác liên quan đến bà Nguyễn Phương Hằng và NSƯT Hoài Linh, phía nam nghệ sĩ hài bất ngờ chia sẻ việc từng điều trị ung thư tuyến giáp nhưng không công bố vì tránh ồn ào.</p>
            <h2>Vì sao livestream ‘vạch trần showbiz’ của bà Nguyễn Phương Hằng ‘hot’ đến thế?</h2> <br/>
            <p>Loạt từ khóa liên quan bà Nguyễn Phương Hằng, vợ ông Huỳnh Uy Dũng (Dũng ‘lò vôi’, ông chủ Khu Du lịch Đại Nam), livestream của bà Nguyễn Phương Hằng ‘bóc phốt’, ‘vạch trần’ sự thật showbiz Việt lên top trending và xu hướng tìm kiếm Google tại Việt Nam.

                Hàng loạt phát ngôn, hình ảnh, những đoạn clip cắt trích lời bà Nguyễn Phương Hằng, chia sẻ thêm nhiều thông tin về giới showbiz Việt tràn ngập mạng xã hội Facebook, Zalo, Youtube ở Việt Nam với độ thảo luật cực kỳ cao. Từ các bà nội trợ, thậm chí cả cánh mày râu, dân văn phòng, nhiều tầng lớp xã hội khác nhau đến chính giới nghệ sĩ, người nổi tiếng cũng đổ xô xem livestream của bà Nguyễn Phương Hằng.</p>
                <div class="editContent">
                    <h1 class="text-center latestitems">Tin Tức 24H</h1>
                </div>
                <iframe width="960" height="450" src="https://www.youtube.com/embed/hlfwamJsO4E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <h2>Chiều 26.5.2021, Tiểu ban điều trị Ban chỉ đạo Quốc gia phòng, chống dịch Covid-19 vừa ra thông báo ca tử vong liên quan tới Covid-19 thứ 45 tại Việt Nam. Đây là bệnh nhân 3760, là một phụ nữ 67 tuổi, địa chỉ Thuận Thành, tỉnh Bắc Ninh. </h2> <br/>
                <p>Dịch bệnh COVID-19 trên thế giới đang diễn biến rất phức tạp, số lượng người mắc bệnh và người chết tiếp tục gia tăng. Đã phát hiện các trường hợp mắc bệnh nhập cảnh trái phép vào Việt Nam. Dịch bệnh có nguy cơ bùng phát trở lại, nhất là trong dịp nghỉ lễ 30/4 và 1/5 sắp tới, Bộ Y tế kêu gọi mỗi người dân:</p>
                <p>1. Hạn chế đến nơi công cộng, tụ tập đông người không cần thiết.</p>
                <p>2. Không được chủ quan, lơ là. Luôn đề cao cảnh giác phòng chống dịch, khi phát hiện các trường hợp nghi ngờ nhập cảnh trái phép cần lập tức thông báo ngay cho chính quyền địa phương để tổ chức cách ly, xử lý kịp thời.</p>
                <p>3. Thực hiện tốt Khuyến cáo 5K: KHẨU TRANG - KHỬ KHUẨN - KHOẢNG CÁCH - KHÔNG TỤ TẬP - KHAI BÁO Y TẾ để phòng, chống dịch COVID-19.</p>
                <p>4. Liên hệ với đường dây nóng Bộ Y tế: 1900.9095 để được tư vấn khi cần thiết.

                    Vì lợi ích của đất nước, cộng đồng và của chính mình, mỗi người dân Việt Nam hãy đồng lòng quyết tâm giữ vững thành quả đã đạt được trong phòng, chống dịch COVID-19!</p>
                    <div class="editContent">
                        <h1 class="text-center latestitems">Tin Tức Thể Thao</h1>
                    </div>
                    <iframe width="960" height="450" src="https://www.youtube.com/embed/QeVXvlMrURY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
         <h2>Danh sách triệu tập sơ bộ của ĐT Việt Nam | VTV24</h2> <br/>
         <h2>Sir Alex và Rooney đến Ba Lan cổ vũ MU đá chung kết Europa League</h2> <br/>
         <p>Alex Ferguson đã hiện diện trên chuyến bay của ‘Quỷ đỏ’ và hôm nay Rooney cũng trên đường đến Ba Lan để tiếp lửa CLB cũ.
            Trong chuyến bay của Man United đến Ba Lan hôm 24/5 xuất hiện một nhân vật đặc biệt. Sir Alex Ferguson đã có mặt ở đó và thực hiện cuộc nói chuyện với các cầu thủ. Đích thân HLV Ole Gunnar Solskjaer đã xác nhận điều này trong buổi họp báo trước trận chung kết với Villarreal:
            "Ông ấy bay cùng chúng tôi. Tôi đã ngồi đó và nghĩ về Ferguson, về những gì ông ấy làm cho CLB này. Tôi tin rằng Luke Shaw khi ngồi cạnh tôi đây cũng suy nghĩ về điều đó. Chỉ cần Ferguson ngồi với chúng tôi trong bữa ăn, tôi chắc rằng ông anh sẵn sàng trả lời mọi câu hỏi của các cầu thủ, vì CLB ở trong tim ông ấy. Tôi hy vọng Ferguson sẽ tận hưởng trận chung kết, và tôi phải thừa nhận rằng, phần lớn sự nghiệp mình, tôi mắc nợ ông".</p>
             <img src="https://vncdn.sabasports.com/2021/05/sir-alex-va-rooney-den-ba-lan-co-vu-mu-da-chung-ket-europa-league-1-vn-sabasports-com-771x768.jpg"  width="90%" height="500px">
               <h3>Sir Alex đã bay cùng 'Quỷ đỏ' đến Ba Lan.</h3>
           <p> Trong khi đó, hậu vệ Luke Shaw chia sẻ rằng: “Tôi không ngờ là ông ấy dành thời gian nói chuyện với chúng tôi. Tôi cho rằng chúng tôi không cần ai khác khơi gợi cảm hứng cho trận đấu ngày mai, bởi đã có một huyền thoại như Ferguson ở đây. Các cầu thủ hiểu đây là thử thách và bản thân chúng tôi phải tự vượt qua”.

            Vào khoảng 1h00 chiều nay (26/5), cựu tiền đạo MU là Wayne Rooney cũng chia sẻ hình ảnh đang cùng con trai có mặt trên chuyến bay để đến nơi diễn ra trận chung kết Europa League. Thông điệp ngắn gọn được ‘gã hói’ chia sẻ là: “Ba Lan, điểm dừng chân tiếp theo. Man United. Chung kết Europa League”.Rooney hiện đang là HLV của Derby County, anh vừa cùng với CLB này lách qua khe cửa hẹp để trụ hạng thành công tại Championship ở mùa giải năm nay. Hồi còn thi đấu, Rooney từng một lần tham dự trận chung kết Europa League với MU. Đó là khi ‘Quỷ đỏ’ đánh bại Ajax 2-0 để lên ngôi ở mùa giải 2016/17. </p>
          </div>
        </div>
        
    
<!-- CALL TO ACTION =============================-->
<section class="content-block" style="background-color:#00bba7;">
    <div class="container text-center">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="item" data-scrollreveal="enter top over 0.4s after 0.1s">
                    <h1 class="callactiontitle"> CẢM ƠN QUÝ KHÁCH ĐÃ QUAN TÂM <span class="callactionbutton"><i class="fa fa-gift"></i>NOVA24H</span>
                    </h1>
                </div>
            </div>
        </div>
    </div>
    </section>
