<!-- CONTENT =============================-->
<section class="item content">
    <div class="container toparea">
        <div class="underlined-title">
            <div class="editContent">
                <h1 class="text-center latestitems">Sản Phẩm Của Chúng Tôi</h1>
            </div>
            <div class="wow-hr type_short">
                <span class="wow-hr-h">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="productbox">
                    <div class="fadeshop">
                        <div class="captionshop text-center" style="display: none;">
                            <h3>Giới Thiệu</h3>
                            <p>
                                • Thiết kế độc đáo, màu sắc rực rỡ.
                                • Hệ điều hành Android 4.1.2 Jelly Bean mang phong cách riêng của Nokia
                                • Màn hình IPS LCD rộng 5 inch sắc nét, trung thực
                                • Cấu hình tốt với bộ vi xử lý lõi kép Snapdragon S4
                                • Camera 5MP lưu giữ mọi khoảnh khắc đáng nhớ
                            </p>
                            <p>
                                <a href="dathang" class="btn btn-primary">MUA NGAY</a>
                                <a href="sp1" class="btn btn-while">XEM CHI TIẾT</a>
                            </p>
                        </div>
                        <span class="maxproduct"><img src="http://runecom07.runtime.vn/Uploads/shop96/images/product/0c9767e5-3759-4229-8613-18e0d6993c3f.jpg" alt=""></span>
                    </div>
                    <div class="product-details">    
                        <h1>NOKIA XL (CTY)</h1>
                        <span class="price">
                        <span class="edd_price">3,200,000đ</span>
                        </span>
                    </div>
                </div>
            </div>
            <!-- /.productbox -->
            <div class="col-md-4">
                <div class="productbox">
                    <div class="fadeshop">
                        <div class="captionshop text-center" style="display: none;">
                            <h3>Giới Thiệu</h3>
                            <p>
                                • Thiết kế trẻ trung cá tính
                                • Tích hợp sẵn các tính năng mới nhất của windows phone
                                • Màn hình rộng 4.5inch, công nghệ ClearBlack
                                • Cấu hình tầm trung với chip lõi tứ Snapdragon 400 
                                • Sẵn sàng kết nối suốt cả ngày với 2 sim tiện dụng
                            </p>
                            <p>
                                <a href="dathang" class="btn btn-primary">MUA NGAY</a>
                                <a href="sp2" class="btn btn-while">XEM CHI TIẾT</a>
                            </p>
                        </div>
                        <span class="maxproduct"><img src="http://runecom07.runtime.vn/Uploads/shop96/images/product/da9598e8-eadd-455b-9c84-7d73e3d04ad7.png" alt=""></span>
                    </div>
                    <div class="product-details">
                        
                        <h1>NOKIA LUMIA 630 - 2 SIM (CTY)</h1>
                        
                        <span class="price">
                        <span class="edd_price">2,195,000đ</span>
                        </span>
                    </div>
                </div>
            </div>
            <!-- /.productbox -->
            <div class="col-md-4">
                <div class="productbox">
                    <div class="fadeshop">
                        <div class="captionshop text-center" style="display: none;">
                            <h3>Giới thiệu</h3>
                            <p>
                                • Thiết kế thanh mảnh, tinh tế
                                • Chụp ảnh và quay video siêu sắc nét trong điều kiện thiếu sáng
                                • Máy ảnh PureView 8.7 Megapixel với sáu ống kính Carl Zeiss
                                • Vỏ sạc không dây để sạc pin mà không cần cắm cáp.
                                • Công nghệ màn hình: Clearblack, AMOLED, cảm ứng siêu nhạy
                            </p>
                            <p>
                                <a href="dathang" class="btn btn-primary">MUA NGAY</a>
                                <a href="sp3" class="btn btn-while">XEM CHI TIẾT</a>
                            </p>
                        </div>
                        <span class="maxproduct"><img src="http://runecom07.runtime.vn/Uploads/shop96/images/product/cc4adb83-5531-4398-aed5-08608cb4ed24.jpg" alt=""></span>
                    </div>
                    <div class="product-details">
                       
                        <h1>NOKIA LUMIA 925 (CTY)</h1>
                    
                        <span class="price">
                        <span class="edd_price">7,704,000đ</span>
                        </span>
                    </div>
                </div>
            </div>
            <!-- /.productbox -->
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="productbox">
                    <div class="fadeshop">
                        <div class="captionshop text-center" style="display: none;">
                            <h3>Giới Thiệu</h3>
                            <p>
                                • Thiết kế đẹp, tinh tế.
                                • Màn hình rộng 4.7inch cho hiển thị sống động.
                                • Mạnh mẽ với chip lõi tứ.
                                • Chuyển đổi nhanh chóng, linh hoạt giữa 2 sim.
                                • Giao diện cử chỉ thông minh (lắc để cập nhật ứng dụng, úp để tắt âm thanh).
                            </p>
                            <p>
                                <a href="dathang" class="btn btn-primary">MUA NGAY</a>
                                <a href="sp4" class="btn btn-while">XEM CHI TIẾT</a>
                            </p>
                        </div>
                        <span class="maxproduct"><img src="http://runecom07.runtime.vn/Uploads/shop96/images/product/962b2a37-1062-4e90-b560-0551e3fa36a8.jpg" alt=""></span>
                    </div>
                    <div class="product-details">
                       
                        <h1>SAMSUNG GALAXY WIN - I8552 (CTY)</h1>
                      
                        <span class="price">
                        <span class="edd_price">4,950,000đ</span>
                        </span>
                    </div>
                </div>
            </div>
            <!-- /.productbox -->
            <div class="col-md-4">
                <div class="productbox">
                    <div class="fadeshop">
                        <div class="captionshop text-center" style="display: none;">
                            <h3>Giới thiệu</h3>
                            <p>
                                • Thiết kế hiện đại trẻ trung
                                • Màn hình 4.5 inches trung thực, sắc nét
                                • Camera sau 5.0MP, lưu giữ mọi khoảnh khắc
                                • Kết nối đầy đủ, mọi lúc mọi nơi
                                • 2 sim 2 sóng tiện ích
                            </p>
                            <p>
                                <a href="dathang" class="btn btn-primary">MUA NGAY</a>
                                <a href="sp5" class="btn btn-while">XEM CHI TIẾT</a>
                            </p>
                        </div>
                        <span class="maxproduct"><img src="http://runecom07.runtime.vn/Uploads/shop96/images/product/ad23dacb-0a5c-4671-8152-5511c77913c3.jpg" alt=""></span>
                    </div>
                    <div class="product-details">
                       
                        <h1>SAMSUNG GALAXY CORE 2 - G355 (CTY)</h1>
                     
                        <span class="price">
                        <span class="edd_price">3,040,000đ</span>
                        </span>
                    </div>
                </div>
            </div>
            <!-- /.productbox -->
            <div class="col-md-4">
                <div class="productbox">
                    <div class="fadeshop">
                        <div class="captionshop text-center" style="display: none;">
                            <h3>Giới Thiệu</h3>
                            <p>
                                • Thiết kế sang trọng, phụ kiện thuận tiện.
                                • Màn hình Super AMOLED tuyệt đẹp, màu sắc rực rỡ.
                                • Cấu hình mạnh mẽ, chạy đa nhiệm mượt mà.
                                • Camera 8 chấm cùng công nghệ chống rung, HDR
                                • S Pen cải tiến thuận tiện hơn.
                            </p>
                            <p>
                                <a href="dathang" class="btn btn-primary">MUA NGAY</a>
                                <a href="sp6" class="btn btn-while">XEM CHI TIẾT</a>
                            </p>
                        </div>
                        <span class="maxproduct"><img src="http://runecom07.runtime.vn/Uploads/shop96/images/product/f1a0a4b8-9cb0-4f70-8738-85b23a5df250.png" alt=""></span>
                    </div>
                    <div class="product-details">
                      
                        <h1>SAMSUNG GALAXY NOTE 3 NEO - N7500 (CTY)</h1>
                      
                        <span class="price">
                        <span class="edd_price">7,039,500đ</span>
                        </span>
                    </div>
                </div>
            </div>
            <!-- /.productbox -->
            <div class="col-md-4">
                <div class="productbox">
                    <div class="fadeshop">
                        <div class="captionshop text-center" style="display: none;">
                            <h3>Giới Thiệu</h3>
                            <p>
                                • Màn hình lớn 4.8" qHD cho giải trí toàn diện 
                                • Camera độ phân giải cao 8MP với công nghệ ảnh Exmor RS và các ứng dụng chụp ảnh sáng tạo, đặc biệt chia sẻ trực tuyến Social Live. .
                                • Cấu hình mạnh với chip xử lý Lõi Tứ 1.2GHz. 
                                • Chia sẻ dễ dàng với NFC và Wifi Miracast. 
                                • Pin cực lâu với 2.330mAh.
                            </p>
                            <p>
                                <a href="dathang" class="btn btn-primary">MUA NGAY</a>
                                <a href="sp7" class="btn btn-while">XEM CHI TIẾT</a>
                            </p>
                        </div>
                        <span class="maxproduct"><img src="http://runecom07.runtime.vn/Uploads/shop96/images/product/73c0e6be-999b-4b4e-bc16-641e3c5a3882.png" alt=""></span>
                    </div>
                    <div class="product-details">
                      
                        <h1>SONY XPERIA M2 - D2305 (CTY)</h1>
                      
                        <span class="price">
                        <span class="edd_price">7,950,000đ</span>
                        </span>
                    </div>
                </div>
            </div>
            <!-- /.productbox -->
            <div class="col-md-4">
                <div class="productbox">
                    <div class="fadeshop">
                        <div class="captionshop text-center" style="display: none;">
                            <h3>Giới Thiệu</h3>
                            <p>
                                • Camera tuyệt vời tạo ra những hình ảnh tuyệt đẹp
                                • Như một máy ảnh kỹ thuật số nhỏ gọn
                                • Phát video trực tiếp qua Facebook, đầy đủ ứng dụng camera sáng tạo
                                • Được kết nối từ tính
                            </p>
                            <p>
                                <a href="dathang" class="btn btn-primary">MUA NGAY</a>
                                <a href="sp8" class="btn btn-while">XEM CHI TIẾT</a>
                            </p>
                        </div>
                        <span class="maxproduct"><img src="http://runecom07.runtime.vn/Uploads/shop96/images/product/4419a395-4961-41e7-95b5-26759cafd056.jpg" alt=""></span>
                    </div>
                    <div class="product-details">
                        
                        <h1>SONY XPERIA Z1 (CTY)</h1>
                      
                        <span class="price">
                        <span class="edd_price">7,950,000đ</span>
                        </span>
                    </div>
                </div>
            </div>
            <!-- /.productbox -->
            <div class="col-md-4">
                <div class="productbox">
                    <div class="fadeshop">
                        <div class="captionshop text-center" style="display: none;">
                            <h3>Giới Thiệu</h3>
                            <p>
                                • Màn hình 6" HD Triluminos Display dành cho di động với góc nhìn rộng IPS
                                • Cấu hình mạnh với chip xử lý Lõi Tứ 1.4GHz và pin cực lâu với 3.000mAh.
                                • Chia sẻ dễ dàng với NFC và Wifi Miracast.
                                • Không bỏ lỡ cuộc gọi với 2 sim kết nối
                            </p>
                            <p>
                                <a href="dathang" class="btn btn-primary">MUA NGAY</a>
                                <a href="sp9" class="btn btn-while">XEM CHI TIẾT</a>
                            </p>
                        </div>
                        <span class="maxproduct"><img src="http://runecom07.runtime.vn/Uploads/shop96/images/product/427bbd38-31a5-48e1-95a3-b0faa9de92b7.jpg" alt=""></span>
                    </div>
                    <div class="product-details">
                       
                        <h1>SONY XPERIA T2 ULTRA - 2 SIM D5322 (CTY)</h1>
                       
                        <span class="price">
                        <span class="edd_price">3,300,000đ</span>
                        </span>
                    </div>
                </div>
            </div>
            <!-- /.productbox -->
            <div class="col-md-4">
                <div class="productbox">
                    <div class="fadeshop">
                        <div class="captionshop text-center" style="display: none;">
                            <h3>Giới Thiệu</h3>
                            <p>
                                • Thiết kế đơn giản, sang trọng
                                • Màn hình Retina siêu sắc nét nền IPS, rộng hơn
                                • Cấu hình mạnh mẽ với HĐH iOS 6, chip A5
                                • Máy ảnh 5MP, LED flash, tự động lấy nét
                                • Kết nối mạnh, Wifi chuẩn N, Bluetooth 4.0, kết nối Lightning
                            </p>
                            <p>
                                <a href="dathang" class="btn btn-primary">MUA NGAY</a>
                                <a href="sp10" class="btn btn-while">XEM CHI TIẾT</a>
                            </p>
                        </div>
                        <span class="maxproduct"><img src="http://runecom07.runtime.vn/Uploads/shop96/images/product/d562d461-fde1-4d09-958c-172e179783b0.png" alt=""></span>
                    </div>
                    <div class="product-details">
                       
                        <h1>APPLE IPOD TOUCH GEN 5 - 32GB</h1>
                      
                        <span class="price">
                        <span class="edd_price">11,658,000đ</span>
                        </span>
                    </div>
                </div>
            </div>
            <!-- /.productbox -->
            <div class="col-md-4">
                <div class="productbox">
                    <div class="fadeshop">
                        <div class="captionshop text-center" style="display: none;">
                            <h3>Giới Thiệu</h3>
                            <p>
                                • Bảo mật vân tay
                                • Chụp ảnh sắc nét, chụp nhanh, quay video với hiệu ứng slow-motion dễ dàng
                                • Hệ điều hành iOS 7 đẹp mắt
                                • Vi xử lý 64bit cao cấp A7 và vi xử lý cảm biến chuyển động M7
                            </p>
                            <p>
                                <a href="dathang" class="btn btn-primary">MUA NGAY</a>
                                <a href="sp11" class="btn btn-while">XEM CHI TIẾT</a>
                            </p>
                        </div>
                        <span class="maxproduct"><img src="http://runecom07.runtime.vn/Uploads/shop96/images/product/deb557eb-e3f7-4f35-af7f-1321020368e6.jpg" alt=""></span>
                    </div>
                    <div class="product-details">
                      
                        <h1>APPLE IPHONE 5S - 16GB</h1>
                      
                        <span class="price">
                        <span class="edd_price">12,490,000đ</span>
                        </span>
                    </div>
                </div>
            </div>
            <!-- /.productbox -->
            <div class="col-md-4">
                <div class="productbox">
                    <div class="fadeshop">
                        <div class="captionshop text-center" style="display: none;">
                            <h3>Giới Thiệu</h3>
                            <p>
                                • Cảm biến iSight mới và nhiều tính năng hiệu chỉnh chụp ảnh bằng tay
                                • Chip A8 lõi tứ xử lý mạnh nhanh nhất từ trước đến nay
                                • Pin dung lượng cao 2915 mAh, Wifi nhanh hơn, tích hợp NFC
                                • Hệ điều hành iOS 8
                            </p>
                            <p>
                                <a href="dathang" class="btn btn-primary">MUA NGAY</a>
                                <a href="sp12" class="btn btn-while">XEM CHI TIẾT</a>
                            </p>
                        </div>
                        <span class="maxproduct"><img src="http://runecom07.runtime.vn/Uploads/shop96/images/product/deb557eb-e3f7-4f35-af7f-1321020368e6(1).jpg" alt=""></span>
                    </div>
                    <div class="product-details">
                      
                        <h1>APPLE IPHONE 6 PLUS - 128GB</h1>
                     
                        <span class="price">
                        <span class="edd_price">24,390,000đ</span>
                        </span>
                    </div>
                </div>
            </div>
            <!-- /.productbox --> 
            <div class="col-md-4">
                <div class="productbox">
                    <div class="fadeshop">
                        <div class="captionshop text-center" style="display: none;">
                            <h3>Giới Thiệu</h3>
                            <p>
                                • Thiết kế rất tốt.
                                • Hệ điều hành tốt nhất.
                                • Camera iSight chất lượng cao.
                                • Hoạt động ổn định.
                                • Màn hình Retina sắc nét, hiển thị chân thực.
                                • Kho ứng dụng phong phú và đa dạng.
                            </p>
                            <p>
                                <a href="dathang" class="btn btn-primary">MUA NGAY</a>
                                <a href="sp13" class="btn btn-while">XEM CHI TIẾT</a>
                            </p>
                        </div>
                        <span class="maxproduct"><img src="http://runecom07.runtime.vn/Uploads/shop96/images/product/9307f1e9-ed48-4898-860e-3bb6efe0cb64.jpg" alt=""></span>
                    </div>
                    <div class="product-details">
                      
                        <h1>APPLE IPHONE 5 - 16GB</h1>
                     
                        <span class="price">
                        <span class="edd_price">8,560,000đ</span>
                        </span>
                    </div>
                </div>
            </div>
            <!-- /.productbox -->  
            <div class="col-md-4">
                <div class="productbox">
                    <div class="fadeshop">
                        <div class="captionshop text-center" style="display: none;">
                            <h3>Giới Thiệu</h3>
                            <p>
                                • Thiết kế rất tốt.
                                • Hệ điều hành tốt nhất.
                                • Camera iSight chất lượng cao.
                                • Hoạt động ổn định.
                                • Màn hình Retina sắc nét, hiển thị chân thực.
                                • Kho ứng dụng phong phú và đa dạng.
                            </p>
                            <p>
                                <a href="dathang" class="btn btn-primary">MUA NGAY</a>
                                <a href="sp14" class="btn btn-while">XEM CHI TIẾT</a>
                            </p>
                        </div>
                        <span class="maxproduct"><img src="http://runecom07.runtime.vn/Uploads/shop96/images/product/c596bbfd-d3bd-43d3-9655-a9094b753003.jpg" alt=""></span>
                    </div>
                    <div class="product-details">
                      
                        <h1>APPLE IPHONE 5 - 16GB WHITE</h1>
                     
                        <span class="price">
                        <span class="edd_price">7,410,000đ</span>
                        </span>
                    </div>
                </div>
            </div>
            <!-- /.productbox -->           
            <div class="col-md-4">
                <div class="productbox">
                    <div class="fadeshop">
                        <div class="captionshop text-center" style="display: none;">
                            <h3>Giới Thiệu</h3>
                            <p>
                                Vẫn giữ nét thiết kế rất đặc trưng, mặt lưng của Asus X453MA là những vân tròn đồng tâm theo phong cách Zenbook giúp máy sáng bóng, sang trọng hơn. Máy được vát mỏng về phía trước kết hợp với 4 góc bo tròn giúp thiết bị trong nhỏ gọn, thanh mảnh hơn thực tế.
                            </p>
                            <p>
                                <a href="dathang" class="btn btn-primary">MUA NGAY</a>
                                <a href="sp15" class="btn btn-while">XEM CHI TIẾT</a>
                            </p>
                        </div>
                        <span class="maxproduct"><img src="http://runecom07.runtime.vn/Uploads/shop96/images/product/7fb5e235-c496-49ec-801b-e3674e061fa7.jpg" alt=""></span>
                    </div>
                    <div class="product-details">
                      
                        <h1>APPLE IPAD MINI </h1>
                     
                        <span class="price">
                        <span class="edd_price">17,500,000đ</span>
                        </span>
                    </div>
                </div>
            </div>
            <!-- /.productbox -->                              
        </div>
    </div>
    </section>
    
<!-- CALL TO ACTION =============================-->
<section class="content-block" style="background-color:#00bba7;">
    <div class="container text-center">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <div class="item" data-scrollreveal="enter top over 0.4s after 0.1s">
                <h1 class="callactiontitle"> Cung cấp hàng chính hàng - uy tín - chất lượng <span class="callactionbutton"><i class="fa fa-gift"></i> NoVa.Shop</span>
                </h1>
            </div>
        </div>
    </div>
    </div>
    </section>
