<div class="item content">
	<div class="container toparea">
		<div class="row text-center">
			<div class="col-md-4">
				<div class="col editContent">
					<span class="numberstep"><i class="fa fa-shopping-cart"></i></span>
					<h3 class="numbertext">Chất Lượng Sản Phẩm</h3>
					<p>
						 Đảm bảo sản phẩm chính hảng 100% bảo hành lên đến 3 năm cho khách hàng,hàng bị lỗi 1 đổi 1 trong vòng 3 tháng ,hỗ trợ cài đặt ứng dụng và game miễn phí kèm theo nhiều quà tặng có giá trị.
					</p>
				</div>
				<!-- /.col-md-4 -->
			</div>
			<!-- /.col-md-4 col -->
			<div class="col-md-4 editContent">
				<div class="col">
					<span class="numberstep"><i class="fa fa-gift"></i></span>
					<h3 class="numbertext">Thanh Toán</h3>
					<p>
						 Hỗ trợ thanh toán trực tuyến qua tất cả các loại thẻ ngân hàng , ví điện tử đảm bao thanh toán an toàn và nhanh chóng đảm bảo đủ các lợi ích mua hàng cho người mua.
					</p>
				</div>
				<!-- /.col -->
			</div>
			<!-- /.col-md-4 col -->
			<div class="col-md-4 editContent">
				<div class="col">
					<span class="numberstep"><i class="fa fa-download"></i></span>
					<h3 class="numbertext">Vận Chuyển</h3>
					<p>
						Hỗ trợ khách hàng có thể đặt hàng trực tuyến giao hàng tận nơi, miễn phí giao hàng toàn quốc trong thời gian sớm nhất.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>

<section class="item content">
	<div class="container">
		<div class="underlined-title">
			<div class="editContent">
				<h1 class="text-center latestitems">Gợi Ý Sản Phẩm</h1>
			</div>
			<div class="wow-hr type_short">
				<span class="wow-hr-h">
				<i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
				</span>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="productbox">
					<div class="fadeshop">
						<div class="captionshop text-center" style="display: none;">
							<h3>Tên Sản Phẩm</h3>
							<p>
								SONY XPERIA M2 - D2305 (CTY)
								Giá: 7,950,000đ
							</p>
							<p>
								<a href="dathang" class="learn-more detailslearn"><i class="fa fa-shopping-cart"></i>Mua Ngay</a>
								<a href="sp7" class="learn-more detailslearn"><i class="fa fa-link"></i>Xem Chi Tiết</a>
							</p>
						</div>
						<span class="maxproduct"><img src="http://runecom07.runtime.vn/Uploads/shop96/images/product/73c0e6be-999b-4b4e-bc16-641e3c5a3882.png" alt=""></span>
					</div>
					<div class="product-details">
						
						<h1>Sản Phẩm Mới</h1>
						
						<span class="price">
						<span class="edd_price">Dòng Điện Thoại mới nhất của SONY</span>
						</span>
					</div>
				</div>
			</div>
			<!-- /.productbox -->
			<div class="col-md-4">
				<div class="productbox">
					<div class="fadeshop">
						<div class="captionshop text-center" style="display: none;">
							<h3>Tên Sản Phẩm</h3>
							<p>
								APPLE IPHONE 6 PLUS - 128GB
								Giá: 24,390,000đ
							</p>
							<p>
								<a href="dathang" class="learn-more detailslearn"><i class="fa fa-shopping-cart"></i>Mua Ngay</a>
								<a href="sp12" class="learn-more detailslearn"><i class="fa fa-link"></i>Xem Chi Tiết</a>
							</p>
						</div>
						<span class="maxproduct"><img src="http://runecom07.runtime.vn/Uploads/shop96/images/product/deb557eb-e3f7-4f35-af7f-1321020368e6(1).jpg" alt=""></span>
					</div>
					<div class="product-details">
						
						<h1>Sản Phẩm Bán Chạy</h1>
						
						<span class="price">
						<span class="edd_price">Trên 3000 sản phẩm đã bán</span>
						</span>
					</div>
				</div>
			</div>
			<!-- /.productbox -->
			<div class="col-md-4">
				<div class="productbox">
					<div class="fadeshop">
						<div class="captionshop text-center" style="display: none;">
							<h3>Tên Sản Phẩm</h3>
							<p>
								NOKIA LUMIA 630 - 2 SIM (CTY)
								Giá: 2,195,000đ
							</p>
							<p>
								<a href="dathang" class="learn-more detailslearn"><i class="fa fa-shopping-cart"></i>Mua Ngay</a>
								<a href="sp2" class="learn-more detailslearn"><i class="fa fa-link"></i>Xem Chi tết</a>
							</p>
						</div>
						<span class="maxproduct"><img src="http://runecom07.runtime.vn/Uploads/shop96/images/product/da9598e8-eadd-455b-9c84-7d73e3d04ad7.png" alt=""></span>
					</div>
					<div class="product-details">
						
						<h1>Sản Phẩm Khuyến mãi</h1>
						
						<span class="price">
						<span class="edd_price">Sale 30%</span>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>

</section>

<div class="item content">
	<div class="container text-center">
		<a href="Cuahang" class="homebrowseitems">Xem Sản Phẩm
		<div class="homebrowseitemsicon">
			<i class="fa fa-star fa-spin"></i>
		</div>
		</a>
	</div>
</div>
<br/>


<!-- AREA =============================-->
<div class="item content">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<i class="fa fa-microphone infoareaicon"></i>
				<div class="infoareawrap">
					<h1 class="text-center subtitle">Giải Đáp Thắc Mắc</h1>
					<p>
						Hỗ trợ các thông tin về bưu điện và điện lực tại 64 tỉnh thành trên cả nước, lịch cắt điện, hóa đơn, tra cứu đơn hàng, phí gửi hàng.
					</p>
					<p class="text-center">
						<a href="Tiepxuc" class="btn btn-primary">LIÊN HỆ</a>
					</p>
				</div>
			</div>
			<!-- /.col-md-4 col -->
			<div class="col-md-4">
				<i class="fa fa-comments infoareaicon"></i>
				<div class="infoareawrap">
					<h1 class="text-center subtitle">Hỗ Trợ Khách Hàng</h1>
					<p>
						Tổng đài hỗ trợ thông tin là đơn vị hỗ trợ trực tiếp cung cấp thông tin về Tổng đài chăm sóc khách hàng số điện thoại hỗ trợ tất cả các linh vực. Tổng đài hỗ trợ thông tin luôn có đội ngũ tổng đài viên chăm sóc khách hàng chuyên nghiệp, hỗ trợ khách hàng 24/7.
					</p>
					<p class="text-center">
						<a href="Tiepxuc" class="btn btn-primary">LIÊN HỆ</a>
					</p>
				</div>
			</div>
			<!-- /.col-md-4 col -->
			<div class="col-md-4">
				<i class="fa fa-bullhorn infoareaicon"></i>
				<div class="infoareawrap">
					<h1 class="text-center subtitle">Thuê Chúng Tôi</h1>
					<p>
						Hỗ trợ đơn vị vân chuyển, Grap, Goviet, Bee, Giao hành nhanh, Giao hàng tiết kiệm, tài khoản, thông tin thanh toán, khiếu nại, dịch vụ.
					</p>
					<p class="text-center">
						<a href="Tiepxuc" class="btn btn-primary">LIÊN HỆ</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>


<!-- TESTIMONIAL =============================-->
<div class="item content">
	<div class="container">
		<div class="col-md-10 col-md-offset-1">
			<div class="slide-text">
				<div>
					<h2><span class="uppercase">Tiêu Chí Hướng Đến</span></h2>
					<img src="http://giupban.com.vn/wp-content/uploads/2019/09/nhung-cau-noi-hay-ve-kinh-doanh-1.jpg" alt="Hỗ Trợ">
					<p>
						Tích cực, hào hứng, đam mê luôn là những thái độ quan trọng quyết định sự thành công trong nghề bán hàng. Những người bán hàng xuất sắc nhất luôn biết cách tạo động lực cho chính mình để duy trì tinh thần ấy. Một trong những cách tốt nhất của họ chính là đọc danh ngôn hay mỗi ngày.
					</p>
					<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
				</div>
			</div>
		</div>
	</div>
</div>